@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 127, 23, 52;
  --background-start-rgb: 245, 240, 255;
  --background-end-rgb: 255, 248, 250;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 182, 193;
    --background-start-rgb: 75, 0, 40;
    --background-end-rgb: 139, 0, 70;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
    to bottom,
    transparent,
    rgb(var(--background-end-rgb))
  ) rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
